.header__container {
    width: 100%;
    height: 80px;
    background-color: white;
    box-shadow: 0px 0px 5px 1px #0002;
    display: flex;
    flex-direction: column;
    padding: 10px;
    gap: 5px;
    position: fixed;
    top: 0;
    z-index: 500;
    
}

.header_menu_btn-container {
    width: 100%;
    max-width: 50px;
    aspect-ratio: 1;
    position: absolute;
    top: 80px;
    right: 0;
    z-index: 900;
    
}

.menu_btn {
    width: 100%;
    max-width: 50px;
    aspect-ratio: 1;
    font-size: 30px;
    display: flex;
    justify-content: center;
    align-items: center;
    
}

.header__title {
    width: 100%;
    height: 100%;
    display: flex;
    align-items: flex-end;
    color: var(--bg-color-red);
}

.header__nav {
    width: 100%;
    height: 100%;
    position: relative;
    
    
    
}

.header__list {
    width: 100%;
    
    background-color: rgb(255, 255, 255);
    box-shadow: 3px 3px 5px 1px #0008;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    padding-top: 30px;
    padding-left: 10px;
    gap: 5px;
    position: absolute;
    top: 20px;
    right: 0;
    /*transform: translateX(0);*/
}

.header__title:hover {
    color: var(--bg-color-red);
    filter: brightness(1.06);
}

.header__item {
    display: flex;
    align-items: center;
    justify-content: center;
    color: var(--bg-color-red);
}

/*.header_active_menu {
    transform: translateX(2000px);
}

.fa-regular {
    font-size: 30px;
    position: absolute;
    right: 15px;
    top: 5px;
}*/

@media screen and (min-width: 750px) {

    .header__container {
        
        flex-direction: row;
        
        position: fixed;
        
        
    }

    .header__title {
        width: 50%;
        height: 100%;
        display: flex;
        justify-content: center;
        align-items: flex-end;
        
        
    }

    .header__nav {
        width: 50%;
        
        
    }    
      

    .header__list {
        width: 100%;
        height: 100%;
        box-shadow: none;
        background-color: white;
        position: static;
        flex-direction: row;
        justify-content: end;
        padding-right: 20px;
        gap: 20px;
       
       
    }

    .header__item {
        max-width: 150px;
        flex-direction: row;
        
    }

    .header_menu_btn-container {
        display: none;
    }

    /*.fa-regular {
        transform: translateX(2000px);
    }

    .header_active_menu {
        transform: translateX(0);
        display: flex;
        flex-direction: row;
        position: static;
        gap: 20px;
    }*/
}




