.purchases_container {
    width: 100%;
    max-width: 600px;
    margin: auto;
    border: solid thin gray;
}

.purchases_img_container {
    max-width: 100px;
}

.purchases_img {
    width: 100%;
    object-fit: contain;
}