

.home__container {
    padding: 20px;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 1.5rem;
    max-width: 1024px;
    margin-left: auto;
    margin-right: auto;
    grid-column: 2 / 8;
    grid-row: 2 / 3;
}

@media (min-width: 450px) {
    
    .home {
        display: grid;
        
    }

    .home__container {
        grid-column: 2 / 8;
        grid-row: 2 / 3;
    }
    
}



