.sort_by_price-container {
    width: 100%;
    max-width: 250px;
    display: flex;
    justify-content: space-around;
}

.sort_by_price-btn {
    background-color: var(--bg-color-red);
    color: white;
    width: 100px;
    height: 30px;
    border-radius: 3px;
    cursor: pointer;
    transition: transform 1s ease;
}

.sort_by_price-btn:hover {
    transform: scale(1.1);
    transition: transform 1s ease;
}

@media (min-width: 450px) {
    .sort_by_price-container {
        width: 250px;
        display: flex;
        gap: 20px;
        padding-left: 50px;
        grid-column: 1 / 2;
        grid-row: 2 / 3;
        margin-top: 350px;
    }
    
}